*{
    margin: 0px;
    padding: 0px;
}

.box{
    height: 121px;
    width: 121px;
    background-color: red;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 70px;
    animation: animatex 3s linear infinite, animatey 1s ease-out infinite alternate;
}

.container{
    position: relative;
    height: 80vh;
    width: 80vw;
    background-color: blue;
}
@keyframes animatex {
    from{
        left:0;
    }
    to{
        left:100%;
    }
}
@keyframes animatey {
    from{
        bottom:0;
    }
    to{
        bottom:100%;
    }
}